<h1 class="mt-2 mb-2">{{title}}</h1>
    <div>
        <h2>World Book Day</h2>
        <p class="fs-6">23 April 2024</p>
    <div>
        <p>As we mark World Book Day, our platform is committed to promoting the work of heroic storytellers. 
            Our books page features a curated list of recommended books by the International Rescue Committee. 
            These books mainly focus on the stories of refugees who have overcome very difficult circumstances. 
            To make it easier for you to access these books, we have linked each of the books to WorldCat, 
            which will help you find them at your local library or purchase them from their list of vendors.
            As a new user, you can create a personalized book list that includes books you want to read, 
            are currently reading, or have finished reading from our books page.
        </p> 
    </div>
    </div>


