<h1 class="mt-2 mb-2">{{title}}</h1>
    <div>
        <h2>World Book Day</h2>
        <p class="fs-6">23 April 2024</p>
    <div>

    <br>
        <p>As we celebrate World Book Day, we must recognize the heroic storytellers who have shared their experiences with us. 
            This platform is dedicated to promoting their work, and one way we are doing this is through the books page. 
            The International Rescue Committee curated a list of recommended books, focusing on the inspiring stories of refugees who have overcome incredibly challenging circumstances.</p>
    <br>
        <p>To make it easier for you to access these books, they have each been linked to WorldCat. This will help you find them at your local library or purchase them from a list of vendors. 
            And as a new user, you can create a personalized book list on our platform. This list can include books you want to read, are currently reading, or have finished reading from our books page.</p>
     <br>   
        <p>By highlighting these incredible stories, we can inspire more individuals to learn about the experiences of refugees and support efforts to help them.</p>
    </div>
    </div>


