<h1>Authors</h1>
<a href="/authors/form">Create a new author</a>
{{#each authors}}
<li>
  {{this.id}} - {{this.firstName}} {{this.lastName}}
  <a href="/authors/edit?id={{this.id}}">edit</a>
</li>
{{/each}}
