<h1>New Book</h1>

<form action="/books/create" role="form" method="post">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="publishing_year">Publishing year</label>
    <input type="number" step="1" placeholder="2000" id="publishing_year" name="publishingYear">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>